<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlexApp">

        <!-- 1. MainActivity -->
        <activity
            android:name="com.example.flexapp.ui._.view.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FlexApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. RegisterBusinessActivity -->
        <activity android:name="com.example.flexapp.ui._.view.RegisterBusinessActivity" />

        <!-- 3. DashboardActivity -->
        <activity android:name="com.example.flexapp.ui._.view.DashboardActivity" />

        <!-- 4. ShippingHomeActivity -->
        <activity android:name="com.example.flexapp.ui._.shipping.register.ShippingHomeActivity" />

        <!-- 5. ShippingRegisterBusinessActivity -->
        <activity android:name="com.example.flexapp.ui._.shipping.register.ShippingRegisterBusinessActivity" />

        <!-- 6. CreateShippingOrderActivity (Nota: Esta carpeta NO tiene guion bajo) -->
        <activity android:name="com.example.flexapp.ui.shipping.home.CreateShippingOrderActivity"
            tools:ignore="Instantiatable" />

        <!-- 7. OrdersHistoryActivity (Nota: Esta carpeta NO tiene guion bajo) -->
        <activity android:name="com.example.flexapp.ui.shipping.home.OrdersHistoryActivity"
            tools:ignore="Instantiatable" />

    </application>

</manifest>
